@model System.Collections.Generic.List<HotelsWebApp.Models.Room>;

@{
    ViewData["Title"] = "HotelsWebApp ~ Room";
    ViewData["Background"] = "login";
    ViewData["Page"] = "Room";
    @* IF USER IS LOGGED IN *@
    if(ViewData["LoggedIn"] == "Y"){
    @* ViewData["Username"] = Html.DisplayFor(model => model.Username); *@
    @* ViewData["Email"] = Html.DisplayFor(model => model.Email); *@
    }


     var data = ViewBag.Room;

     var room = Model.First();
}
<main>

<!-- MAIN CONTENT -->

<div class="container">
  <div class="row show-on-small"></div>
  <div class="row">
  <div class="col s12 m12">
    <!-- TITLE , STAR RATINGS, PRICE PER NIGHT -->
    <div class="row background-color-kouk2">
      <div class="col s6">
      <!-- TITLE OF ROOM -->
      <span class="favorites-title center  left">@room.Name</span>
      <!-- STAR RATING -->
      <span class="">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </span>
      </div>
      <div class="col s6">
        <span class="favorites-title center  right">Per Night: @(room.Price)euro<span>
      </div>
    </div>


    <!-- IMAGE OF ROOM-->
    <div class="row">
      <div class="col s12 center">
        <img src="~/img/room_images/@(room.Photo)" class="responsive-img">
      </div>
    </div>   

    <!-- ROOM INSIGHTS START HERE-->
    <div class="row center background-color-kouk2">
      <div class="col m3 s4">
        <ul>
          <li>
            <!-- GET TYPE OF ROOM -->
            <p class="favorites-title center background-color-kouk2">@room.CountOfGuests</p>
          </li>
          <li>
            <p class="favorites-title center background-color-kouk2"><i class="material-icons prefix inline">people</i> Guests</p>
          </li>

        </ul>
      </div>
      <!-- GET TYPE OF ROOM -->
      <div class="col m2 s4">
        <ul>
          <li>
            <p class="favorites-title center background-color-kouk2">@room.RoomType</p>
          </li>
          <li>
            <p class="favorites-title center background-color-kouk2"><i class="material-icons prefix inline">meeting_room</i>Type of room</p>
          </li>
        </ul>
      </div>
      <!-- PARKING -->
      <div class="col m2 s4">
        <ul>
          <li>
            <p class="favorites-title center background-color-kouk2">@{if(room.Parking==1){ WriteLiteral("Yes"); }else{WriteLiteral("No");}}</p>
          </li>
          <li>
            <p class="favorites-title center background-color-kouk2"><i class="material-icons prefix inline">local_parking</i>Parking</p>
          </li>
        </ul>
      </div>
      <!-- WIFI -->
      <div class="col m2 s6">
        <ul>
          <li>
        <p class="favorites-title center ">@{if(room.Wifi==1){ WriteLiteral("Yes"); }else{WriteLiteral("No");}}</p>
        </li>
        <li>
          <p class="favorites-title center "><i class="material-icons prefix inline">wifi</i>Wifi</p>
        </li>
      </div>
      <!-- PETS -->
      <div class="col m2 s6">
        <ul>
          <li>
        <p class="favorites-title center ">@{if(room.PetFriendly==1){ WriteLiteral("Yes"); }else{WriteLiteral("No");}}</p>
        </li>
        <li>
          <p class="favorites-title center "><i class="material-icons prefix inline">pets</i>Pets</p>
        </li>
      </div>
    </div>
    <!-- ROOM INSIGHTS ENDS HERE-->

    <!-- ROOM'S PROPERTIES -->
   <div class="row background-color-kouk2 ">
    <p class="favorites-title left">Room Description</p>
    </div>
    <div class="row background-color-kouk">
    <p class="favorites-title left">@room.LongDescription</p>
    <p class="favorites-title left black-text">Location:@room.Location</p>
    </div>
    <div class="row center">
      <a class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Login to book</a>
      
      @* <a asp-action="Book" asp-rout-test="demo"class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Login to book</a> *@


    </div>
  

   <!-- MAP ROOM'S PROPERTIES -->
   <div class="row background-color-kouk2">
    <div id="map"></div>
  </div>
   
   <!-- ROOM'S PROPERTIES -->
   <div class="row background-color-kouk2 ">
    <p class="favorites-title left">Reviews</p>
  </div>
  <div class="row background-color-kouk2 ">
    <ul class="collection">
      <li class="collection-item"><a>Hilton</a>
        <span class="right">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </span>
      </li>
      <li class="collection-item"><a>Hilton</a>
        <span class="right">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </span>
      </li>
      <li class="collection-item"><a>Hilton</a>
        <span class="right">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </span>
      </li>
    </ul>
  </div>
     <!-- ROOM'S PROPERTIES -->
     <div class="row background-color-kouk2 ">
      <p class="favorites-title  left">Add Review</p>
    </div>
    <div class="row">
      <input>
    </div>

</div>
</div>
<div class="row"></div>
<div class="row"></div>




</main>



<!-- ENDS OF MAIN CONTENT -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    
   
   <script>
 
  
//  MAPS LEAFLET.JS

   var map = L.map('map',{
   center: [@room.LatLocation, @room.LngLocation],
   zoom: 14
   });


   L.marker([@room.LatLocation, @room.LngLocation]).bindTooltip("@room.Name", 
   {
       permanent: true, 
       direction: 'bottom'
       
   }).addTo(map);
 
       
   L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
   attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
   }).addTo(map);


 </script>



<!-- MAP CONTENT -->


  

   
  
     