@* @model HotelsWebApp.Models.Room *@

@{
    ViewData["Title"] = "HotelsWebApp ~ Search results";
    ViewData["Background"] = "login";
    ViewData["Page"] = "Roomlist";


    @* IF USER IS LOGGED IN *@
    if(ViewData["LoggedIn"] == "Y"){
    @* ViewData["Username"] = Html.DisplayFor(model => model.Username); *@
    @* ViewData["Email"] = Html.DisplayFor(model => model.Email); *@
    }

    var data = ViewBag.Room;
}

<main>

<!-- MAIN CONTENT -->

<div class="container">
  <div class="row login-kouk">
    <form>
      <!-- Choose city selector -->
      <div class="input-field validate col s6">
        <select>
          <option value="" disabled selected>City</option>
             @foreach (var city in data)  
            {  
            <option value="@city.City">@city.City</option>
            }  
        </select>
        <label>Choose city</label>
      </div>
      <!-- Room type selector -->
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Room Type</option>
           @foreach (var type in data)  
            {  
            <option value="@type.RoomType">@type.RoomType</option>
            }  
        </select>
        <label   >Room type</label>
     </div>
     <!-- From date picker -->
     <div class="col s6">
       <label >From Date:</label>
        <input type="text" class="datepicker" required>
      </div>
      <!-- To date picker -->
      <div class="col s6">
        <label >To Date:</label>
        <input type="text" class="datepicker" required>    
      </div>
      
      <div class="col s12 center">
        <input class="waves-effect waves-light btn btn-search-kouk" type="submit" value="Find">   
      </div> 
    </form>
  </div>
<div class="row">
  <div class="col s12 background-color-kouk">
    <h6 class="white-text">Search Results</h6>
  </div>
</div>



  <div class="row">
    
    <!-- ADD A ROOM -->
     @foreach (var room in data)  
    {
      
     
    <div class="col s12 m12 l12">
      <div class="card centered">
        <div class="card-image">
          <img src="~/img/room_images/@room.Photo">
          <span class="card-title">@room.Name</span>
          <a asp-area="" asp-controller="Home" asp-action="Room" class="btn-floating halfway-fab waves-effect waves-light background-color-kouk"><i class="material-icons">account_balance_wallet</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          <p>RoomType=@room.RoomType</p>
          <p>Price=@room.Price</p>
        </div>
      </div>
    </div>
    } 

    @* <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-image">
          <img src="~/img/room_images/room-2.jpg">
          <span class="card-title">Hilton 2</span>
          <a  asp-area="" asp-controller="Home" asp-action="Room" class="btn-floating halfway-fab waves-effect waves-light background-color-kouk"><i class="material-icons">account_balance_wallet</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>


    <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-image">
          <img src="~/img/room_images/room-3.jpg">
          <span class="card-title">Hilton 3</span>
          <a  asp-area="" asp-controller="Home" asp-action="Room" class="btn-floating halfway-fab waves-effect waves-light background-color-kouk"><i class="material-icons">account_balance_wallet</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div> 
  </div>*@
</div>




<!-- ENDS OF MAIN CONTENT -->
<div class="row"></div>
<div class="row"></div>
</main>

