@model HotelsWebApp.Models.WdaContext

@{
    ViewData["Title"] = "HotelsWebApp ~ Search results: "+ViewBag.Search;
    ViewData["Background"] = "login";
    ViewData["Page"] = "Roomlist";


    @* IF USER IS LOGGED IN *@
    if((string)ViewData["LoggedIn"] == "Y"){
    @* ViewData["Username"] = Html.DisplayFor(model => model.Username); *@
    @* ViewData["Email"] = Html.DisplayFor(model => model.Email); *@
    }

    var search = ViewBag.Search;
}

<main>

<!-- MAIN CONTENT -->

<div class="container">
  <div class="row login-kouk">
    <form>
      <!-- Choose city selector -->
      <div class="input-field validate col s6">
        <select>
          <option value="" disabled selected>City</option>
             @foreach (var city in Model.Room.Select(x => x.City).Distinct())  
            {  
            <option value="@city">@city</option>
            }  
        </select>
        <label>Choose city</label>
      </div>
      <!-- Room type selector -->
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Room Type</option>
           @foreach (var RoomType in Model.Room.Select(x => x.RoomType).Distinct())  
            {  
            <option value="@RoomType">@RoomType</option>
            }  
        </select>
        <label   >Room type</label>
     </div>
     <!-- From date picker -->
     <div class="col s6">
       <label >From Date:</label>
        <input type="text" class="datepicker" required>
      </div>
      <!-- To date picker -->
      <div class="col s6">
        <label >To Date:</label>
        <input type="text" class="datepicker" required>    
      </div>
      
      <div class="col s12 center">
        <input class="waves-effect waves-light btn btn-search-kouk" type="submit" value="Find">   
      </div> 
    </form>
  </div>
<div class="row">
  <div class="col s12 background-color-kouk">
    <h6 class="white-text">Search Results</h6>
  </div>
</div>



  <div class="row">
    
    <!-- ADD A ROOM -->

     @foreach (var room in Model.Room)  
    {
    
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image smaller">
          <img src="~/img/room_images/@room.Photo">
          <span class="card-title">@room.Name</span>
             @{
            if(ViewData["LoggedIn"] == "Y"){
                  <a asp-area="" asp-controller="Home" asp-action="Room" asp-route-RoomId="@room.RoomId" class="btn-floating halfway-fab waves-effect waves-light background-color-kouk"><i class="material-icons">account_balance_wallet</i></a>
       
            }

          }
        </div>
        <div class="card-content">
          <p>@room.ShortDescription</p>
          <p>RoomType=@room.RoomType</p>
          <p>Price=@room.Price</p>
          @{
            if(ViewData["LoggedIn"] != "Y"){
               <a asp-controller="Account" asp-action="Login" class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Login First</a>

            }

          }
          <a asp-controller="Home" asp-action="Room" asp-route-RoomId="@room.RoomId" class="waves-effect waves-light btn"><i class="material-icons left">house</i>Book it</a>


        
        
        </div>
      </div>
    </div>
    } 

</div>




<!-- ENDS OF MAIN CONTENT -->
<div class="row"></div>
<div class="row"></div>
</main>

